doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title sh4869.net
    meta(name='description', content="sh4869's web page")
    meta(name='author', content='sh4869')
    meta(name='keywords', content='sh4869,4869,@sh4869sh')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Favicons
    link(rel='apple-touch-icon', sizes='180x180', href='/imgs/icons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/imgs/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/imgs/icons/favicon-16x16.png')
    link(rel='manifest', href='/imgs/icons/manifest.json')
    link(rel='mask-icon', href='/imgs/icons/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='/imgs/icons/favicon.ico')
    meta(name='msapplication-config', content='/imgs/icons/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-46319605-10', 'auto');
      ga('send', 'pageview');
  body
    section.section
      .container
        .tile.is-ancestor
          .tile.is-vertical.is-8
            .tile
              .tile.is-parent.is-vertical
                article.tile.is-child.notification.is-dark.text-center
                  h1.title.is-spaced.is-1 sh4869.net
                artilce.tile.is-child.notification.is-info
                  figure.image.is-1by1
                    image(src="imgs/icon.png")
              .tile.is-parent.is-vertical
                article.tile.is-child.notification.is-info
                  h1.title.is-spaced.is-2
                    span.icon.is-large
                      i.fa.fa-user
                    | NAME
                  .title.is-3 Nobuhiro Kasai
                article.tile.is-child.notification.is-primary
                  h1.title.is-spaced.is-2 
                    span.icon.is-large
                      i.fa.fa-map-marker
                    | ADDRESS
                  .title.is-3 Tokyo,Japan
                aritcle.tile.is-child.notification.is-success
                  h1.title.is-spaced.is-2
                    span.icon.is-large
                      i.fa.fa-at
                    | HANDLE
                  .title.is-3 sh4869
          .tile.is-parent.is-vertical
            article.tile.is-child.notification.is-warning
              h1.title.is-spaced.is-2 
                span.icon.is-large
                  i.fa.fa-cog
                | SKILL
              .title.is-5 Programming Language
              .content.is-medium
                ul
                  li Dartlang,JavaScript(TypeScript),Ruby
                  li C++,Ruby,Java,Go
              .title.is-5 Programming Genre
              .content.is-medium
                ul
                  li Web Frontend
                  li Robotics
              .title.is-5 Others
              .content.is-medium
                ul
                  li Web Design
                  li Education of Programming
        .tile.is-vertical.is-ancestor
          .tile.is-parent
            article.tile.is-child.notification.is-danger
              h1.title.is-spaced.is-2
                sapn.icon.is-large
                  i.fa.fa-graduation-cap
                |  EDUCATION
              .title.is-3 2016~
              .subtitle.is-5.is-spaced Shibaura Institute of Technology Engineering,Information Science and Engineering
              .title.is-3 2013~2016
              .subtitle.is-5.is-spaced Tokyo Tech High School of Science and Technology Information Systems
        .tile.is-ancestor
          .tile.is-6
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-primary
                  h1.title.is-spaced.is-2
                    span.icon.is-large
                      i.fa.fa-pencil
                    | CONTRIBUTUIONS
                  each contribution in data.contribution
                    a(href!=contribution.url,target="_blank")
                      h1.title.is-spaced.is-4!= contribution.title
                    .content.is-medium
                      ul
                        li!= contribution.info.date
                        li!= contribution.info.description
                        li
                          a(href!=contribution.info.org_url,target="_blank")
                            != contribution.info.org
          .tile.is-6
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-info
                  h1.title.is-spaced.is-2
                    span.icon.is-large
                      i.fa.fa-wrench
                    | WORKS
                  each work in data.works
                    a(href!=work.url,target="_blank")
                      h1.title.is-spaced.is-3!= work.title
                    .content.is-medium
                      ul
                        li!= work.description
        .tile.is-ancestor
          .tile.is-3.is-vertical
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-info.text-center
                  a(href="https://facebook.com/sh4869",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-facebook
                      |  FACEBOOK
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-danger.text-center
                  a(href="http://last.fm/user/sh4869",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-lastfm
                      |  LAST.FM
          .tile.is-3.is-vertical
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-light.text-center
                  a(href="https://github.com/sh4869",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.icon.is-large
                        i.fa.fa-github
                      |  GITHUB
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-success.text-center
                  a(href="https://www.amazon.co.jp/registry/wishlist/PADZ1KX67KDC/ref=cm_sw_r_tw_ws_gZp5sb1FYPSRY",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-gift
                      |  WISHLIST
          .tile.is-3.is-vertical
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-primary.text-center
                  a(href="https://twitter.com/sh4869sh/",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-twitter
                      |  TWITTER
            .title
              .tile.is-parent
                article.tile.is-child.notification.is-warning.text-center
                  a(href="http://tumblr.sh4869.net/",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-tumblr
                      |  TUMBLR
          .tile.is-3.is-vertical
            .tile
              .tile.is-parent
                article.tile.is-child.notification.is-dark.text-center
                  a(href="http://sh4869.hatenablog.com",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-rss
                      |  BLOG
            .tile
              .tile.is-parent
                article.tile.is-child.notification.white.text-center
                  a(href="https://bitbucket.org/sh4869/",target="_blank")
                    h1.title.is-spaced.is-2 
                      span.iconn.is-large
                        i.fa.fa-bitbucket
                      |  BITBUCKET
        .tile.is-ancestor
          .tile.is-parent
              article.tile.is-child.notification.is-dark.text-center
                h1.title.is-spaced.is-2 
                  | &copy; 2017 sh4869,Nobuhiro Kasai All Rights Reserved